<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable = no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乐淘移动项目搜索中心</title>
    <link rel="stylesheet" href="./assets/mui/css/iconfont.css">
    <link rel="stylesheet" href="./assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/search.css">
    <script src="./assets/mui/js/mui.min.js"></script>
    <script src="./assets/zepto/zepto.min.js"></script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <script src="./js/search.js"></script>
</head>
<body>
    
<header class="mui-bar mui-bar-nav header">
    <h1 class="mui-title">搜索中心</h1>
    <a href="search.html" class="mui-icon mui-icon-search mui-pull-right"></a>
</header>
<nav class="mui-bar mui-bar-tab footer">
    <a class="mui-tab-item mui-active" href="index.html">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="category.html">
        <span class="mui-icon mui-icon-bars"></span>
        <span class="mui-tab-label">分类</span>
    </a>
    <a class="mui-tab-item" href="cart.html">
        <span class="mui-icon iconfont icon-gouwuche"></span>
        <span class="mui-tab-label">购物车</span>
    </a>
    <a class="mui-tab-item" href="user.html">
        <span class="mui-icon mui-icon-person"></span>
        <span class="mui-tab-label">会员中心</span>
    </a>
</nav>

<div class="mui-content">
    <div class="container">
        <div class="topSearch">
            <input type="text" value="搜索您喜欢的商品" id="search-lk">
            <input type="button" value="搜索" id="search_btn">
        </div>
        <div class="search-history mui-clearfix">
            <span class="mui-pull-left">搜索历史</span>
            <span class="mui-pull-right mui-icon mui-icon-trash" id="clearHistory">清空历史</span>
        </div>
        <ul class="mui-table-view" id="history_data">


        </ul>

    </div>

</div>

</body>

</html>
<script type="text/template" id="history-data">
    <% for(var i = data.length-1; i >= 0; i--) {%>
        <li class="mui-table-view-cell">
            <%=data[i]%>
        </li>
        <% } %>
            <%if(!data.length) {%>
                <li>暂无记录</li>
                <% } %>
</script>